/* colors */

$red: #d32f2f;
$green: #499110;
$green-900: #3c7521;
$orange: #f28d15;
$gray: #ced4d7;
$light-gray: #f6ecf6;
$light-blue: #019df4;
$light-light-blue: #b3e1fb;
$dark-light-blue: #3c5261;
$dark-gray: #86888c;
$dark-gray-dos: #50535a;
$dark-gray-tres: #808e97;
$dark-blue: #0b2739;
$dark-blue-dos: #1f232e;
$dark-blue-50: #e5e8ea;
$primario: #a13ea1;
$white: #ffff;

/* ---------------------------- */
