@import "~src/assets/scss/_colors";

.avatar {
  width: 15%;
  height: 15%;
  background: none;
}
.form-control {
  width: 75%;
  margin: 1%;
}
.inputs {
  display: flex;
  flex-direction: column;

  .mat-input-element:disabled {
    color: $gray;
  }
}
.nombre,
.lastname,
.email {
  color: black;
  border-radius: 4rem;
  border: 1px solid black;
  height: 3rem;
  margin: 2%;
}
.mat-expansion-panel-header-title {
  justify-content: center;
}
.userContainer {
  display: flex;
  // background-color: pink;
}
.user-table-container {
  background-color: $white;
}

.formCamps {
  display: flex;
  flex-wrap: wrap;
  background: none;
}

.name,
.secondName,
.lastName,
.secondLN,
.region,
.state,
.direction,
.department {
  color: $gray !important;
  border-radius: 4rem;
  border: 1px solid black;
  height: 5%;
  margin: 2%;
  display: flex;
  align-items: center;
  width: 40%;
  padding: 0px 0px 0px 20px;
}
.mat-label {
  color: $gray;
}
.footer {
  display: flex;
  justify-content: right;
  .button {
    text-align: center;
    background-color: #173181;
    border-color: #173181;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 2rem;
    .Maticon {
      font-size: 15px;
    }
  }
}
